<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>69</TotalTime><Pages>15</Pages><Words>859</Words><Characters>4900</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><PresentationFormat></PresentationFormat><Lines>40</Lines><Paragraphs>11</Paragraphs><Slides>0</Slides><Notes>0</Notes><HiddenSlides>0</HiddenSlides><MMClips>0</MMClips><ScaleCrop>false</ScaleCrop><Manager></Manager><Company>buaa206mao</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5748</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>